body {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 16px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #333;
}

.list{
  width: 100%;

  & p {
    border: 1px solid grey;
    display: inline-flex;
    width: calc(50%);
    margin: 0 auto;
    padding: 10px 10px;
    box-sizing: border-box;
  }

  &-title {
    font-weight: bold;
    background-color: #ddd;
  }
}

.container {
  width: 95%;
  margin: 0 auto;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}